@import '../../variables.scss';

.username-label {
  color: $primary-text-color;
  font-family: 'Inter', sans-serif;
  font-size: $font-size-regular;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.username-input {
  line-height: 30px;
}
