  .article-form {
    &_btn {
      width: 100%;
      &--del-tag {
        min-width: 86px;
      }
      &--add-tag {
        border: 1px solid #1890FF;
        color: #1890FF;
        min-width: 104px;
      }
    }
    &_tag {
      min-width: 300px;
      min-height: 40px;
      align-self: baseline;
    }
  }
  
  .title-label,
  .description-label,
  .text-label,
  .tags-label {
    color: #262626;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }

.title-input,
.description-input,
.new-tag-input {
  line-height: 30px;
}

  .tags-wrapper {
    display: flex;
    flex-direction: column;
  }

  .tag-wrapper {
    display: flex;
  }

  .new-tag-input {
    width: 300px;
  }
  