.ant-pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.list {
  max-width: 941px;
  margin: 0 auto;
}

.item {
  height: 140px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 26px;
}

.avatar {
  margin-top: 9px;
}

/* .list-item-descr {
} */

.list .ant-pagination.ant-pagination-mini .ant-pagination-item  {
  margin: 0 5px;
}

.list .ant-pagination-item-active {
  background-color: rgba(24, 144, 255, 1);
  border-color: rgba(24, 144, 255, 0);
}

.list .ant-pagination-item-active a {
  color: rgba(255, 255, 255, 1);
  &:hover {
    color: rgba(255, 255, 255, 1);
  }
}
