.article-card {
  max-width: 941px;
  min-height: 806px;
  margin: 0 auto;
  padding-top: 10px;
}

.card-body {
  overflow-wrap: anywhere;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .card-meta {
    width: 100%;
} */
