@import '../../variables.scss';

/* .site-page-header {} */

.header_btn--sign-up {
  border: 1px solid $positive-border-color;
  color: $positive-text-color;
  width: 109px;
  min-height: 51px;
}

.header_btn--sign-in {
  width: 109px;
  min-height: 51px;
  margin-right: 8px;
}

.header_btn--log-out {
  width: 109px;
  min-height: 51px;
  border-color: rgba(0, 0, 0, 0.75);
}

.header_btn--create {
  border-color: $positive-border-color;
  color: $positive-text-color;
  margin-right: 18px;
}

.btn-txt {
  font-size: 18px;
  padding-bottom: 8px;
}

.btn-txt--sm {
  font-size: 14px;
  vertical-align: top;
  line-height: 19px;
}

.title-link {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.85);
  text-decoration: none;
  vertical-align: top;
}

.username {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.85);
  margin-right: 14px;
}

.edit-profile-link {
  display: flex;
  align-items: center;
  margin-right: 18px;
}