@import '../../variables.scss';

.description-wrapper {
  display: flex;
  justify-content: space-between;
  height: 20px;
  width: 101%;
  max-width: 848px;
  &--in-card {
    height: 30px;
    width: 99%;
  }
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  max-width: 85%;
  overflow: hidden;
}

.tag {
  min-width: 38px;
  max-width: 86%;
  min-height: 20px;
  font-size: $font-size-small;
  line-height: normal;
  padding: 0 7px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &--in-card {
    margin-top: $margin-medium;
  }
}

.created-date {
  &--in-card {
    font-family: 'Inter', sans-serif;
    font-size: $font-size-small;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.5);
  }
}
