.description-wrapper {
  display: flex;
  justify-content: space-between;
  height: 16px;
  width: 101%;
  &--in-card {
    height: 30px;
    width: 99%;
  }
}

.tag {
  min-width: 38px;
  min-height: 20px;
  font-size: 12px;
  line-height: normal;
  padding: 0 7px;
  border: 1px solid rgba(0, 0, 0, 0.50);
  &--in-card {
    margin-top: 10px;
  }
}

.created-date {
  &--in-card {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.5);
  }
}
