$positive-border-color: #52c41a;
$positive-text-color: #52c41a;

$primary-text-color: #262626;
$primary-link-color: #1890ff;

$font-size-large: 20px;
$font-size-medium: 18px;
$font-size-regular: 14px;
$font-size-small: 12px;

$margin-small: 5px;
$margin-medium: 10px;
$margin-large: 20px;
